.main {
  width: 80%;
  margin: auto;
  height: 12rem;
  display: grid;
  grid-template-columns: 0.7fr 2fr 2fr;
  margin-top: 1rem;
  background-color: rgb(224, 246, 243);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.image {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 9rem;
  height: 9rem;
}
.details {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.details div {
  display: flex;
  flex-direction: column;
}

/* span {
  font-size: 28px;
} */

.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.type {
  font-size: 18px;
  color: rgb(41, 41, 224);
}
.distance {
  font-size: 18px;
  color: rgb(238, 33, 14);
}
.duration {
  font-size: 18px;
  color: rgb(33, 215, 30);
}
.butt:hover {
  cursor: pointer;
}
